Django==3.1.2
djangorestframework==3.12.1
psycopg2-binary==2.8.6
Pillow==8.0.1
PyJWT==1.7.1
drf-nested-routers==0.92.1
requests==2.24.0
dj-database-url==0.5.0
django-redis==4.12.1
onesignal-sdk==2.0.0

# amazon s3
boto3==1.16.9
django-storages==1.10.1

# websocket support
channels==2.4.0
daphne==2.4.0
channels-redis==3.2.0

# proxies
googlemaps==4.4.2
twilio==6.46.0

# worker
celery==4.4.6  # not ready to bump to 4.4.7(introduce a bug)
redis==3.5.3
flower==0.9.5

Cython==0.29.21

# gravatar
libgravatar==0.2.4

# monitoring
slackclient==2.8.2
requests-unixsocket==0.2.0
sentry-sdk==0.19.1
aiocontextvars==0.2.2

# CORS Policy
django-cors-headers==3.5.0

